.imperator__img {
  width: 370px;
  height: 490px;
  float: left;
}

.imperator__title {
  text-align: center;
}

.imperator__text {
  float: left;
  width: 600px;
}

.clear {
  clear: both;
}

.sybmol {
  clear: both;
}

.sybmol__img {
  width: 370px;
  height: 436;
}

.sybmol__title {
  text-align: center;
}